{% extends 'produtos/includes/editar_base.html' %}

{% block edit_title %}Editar Poltrona{% endblock %}
{% block page_title %}Editar Poltrona - {{ poltrona.ref_poltrona }}{% endblock %}
{% block section_title %}Dados da Poltrona{% endblock %}

{% block edit_message %}
Você está editando a poltrona <strong>{{ poltrona.ref_poltrona }} - {{ poltrona.nome }}</strong>.
{% endblock %}

{% block back_url %}{% url 'produtos_lista' %}{% endblock %}
{% block cancel_url %}{% url 'poltrona_detalhes' poltrona.id %}{% endblock %}

{% block extra_buttons %}
<a href="{% url 'poltrona_detalhes' poltrona.id %}" class="btn btn-outline-info">
    <i class="bi bi-eye"></i> Ver Detalhes
</a>
{% endblock %}

{% block form_content %}
<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form.ref_poltrona }}
            <label for="{{ form.ref_poltrona.id_for_label }}">{{ form.ref_poltrona.label }}</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form.nome }}
            <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-floating mb-3">
            {{ form.largura }}
            <label for="{{ form.largura.id_for_label }}">{{ form.largura.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mb-3">
            {{ form.profundidade }}
            <label for="{{ form.profundidade.id_for_label }}">{{ form.profundidade.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mb-3">
            {{ form.altura }}
            <label for="{{ form.altura.id_for_label }}">{{ form.altura.label }}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-floating mb-3">
            {{ form.tecido_metros }}
            <label for="{{ form.tecido_metros.id_for_label }}">{{ form.tecido_metros.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mb-3">
            {{ form.volume_m3 }}
            <label for="{{ form.volume_m3.id_for_label }}">{{ form.volume_m3.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mb-3">
            {{ form.peso_kg }}
            <label for="{{ form.peso_kg.id_for_label }}">{{ form.peso_kg.label }}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form.preco }}
            <label for="{{ form.preco.id_for_label }}">{{ form.preco.label }}</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-check form-switch mt-3">
            {{ form.ativo }}
            <label class="form-check-label" for="{{ form.ativo.id_for_label }}">
                {{ form.ativo.label }}
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-check form-switch mt-3">
            {{ form.tem_cor_tecido }}
            <label class="form-check-label" for="{{ form.tem_cor_tecido.id_for_label }}">
                {{ form.tem_cor_tecido.label }}
            </label>
        </div>
    </div>
</div>

{% if form.descricao %}
<div class="row">
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form.descricao }}
            <label for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}</label>
        </div>
    </div>
</div>
{% endif %}

<!-- Seção de Imagens Reutilizável -->
{% include 'produtos/includes/secao_imagens.html' with objeto=poltrona %}
{% endblock %}
