{% extends 'base.html' %}

{% block title %}Teste - Sistema de Produtos{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Página de Teste</h1>
            <p>Se você está vendo este texto, o sistema está funcionando!</p>
            <div class="alert alert-success">
                Sistema funcionando corretamente!
            </div>
            <a href="/auth/login/" class="btn btn-primary">Ir para Login</a>
        </div>
    </div>
</div>
{% endblock %}
